.App {
  text-align: center;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #212121;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  width: 90%;
  max-width: 800px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 15px;
  margin: 20px 0;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  width: calc(100% - 22px);
  max-width: 300px;
}

button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #171717;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #282c34;
  background-color: #BCFD49;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
